/* colors to use:
#6557B6
#494554
#AEA9BA
#B33A36
#F17065
*/

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: 'Tahoma';
    scroll-behavior: smooth;
}

section {
    padding: 0 10%;
}

header {
    position: fixed;
    width: 100%;
    background-color: #312D45;
    z-index: 1000;
}

.header_container {
    display: flex;
    padding: 0 10%;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
}

.header_container .logo {
    width: 50px;
    height: 50px;
}

header .header_container navigation {
    margin: 0 20px;
}

header .header_container navigation ul li {
    display: inline-flex;
}

header .header_container navigation ul li a {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    padding: 30px 30px;
    cursor: pointer;
    transition: .2s linear;
}

header .header_container navigation ul li a:hover {
    background-color: #B33A36;
}

header .header_container .logo_h1 {
    display: flex;
    align-items: center;
}

header .header_container .logo_h1 h1 {
    padding: 0 10px;
    color: white;
    font-weight: 500;
    font-family: 'Verdana';
}

header .header_container .logo_h1 h1 span {
    font-weight: 700;
    color: #F17065;
    font-size: 2.2rem;
}


main {
    height: 97vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3% 10%;
}

main .home {
    display: flex;
    align-items: center;
    justify-content: space-around
}

main .home img {
    box-shadow: 10px -10px #F17065;
    width: 40%;
    border-radius: 5px;
}

main .home_box {
    max-width: 600px;
}

main .home_box h1 {
    font-size: 4.3rem;
    text-transform: uppercase;
    padding-bottom: 40px;
    color: #F17065;
}

main .home_box p {
    font-size: 1.3rem;
    padding-bottom: 50px;
    font-family: monospace;
}

.btn {
    display: block;
    width: 30%;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 15px 25px;
    border: 1px solid #F17065;
    color: #F17065;
    letter-spacing: 2px;
    border-radius: 5px;
    transition: .2s linear;
}

.btn:hover {
    background-color: #F17065;
    color: white;
}



.about {
    padding: 0 10%;
    padding-bottom: 7%;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
}

.about .about_img_box {
    position: relative;
    display: flex;
    padding-right: 7%;
}

.about .about_img_box .about_img {
    width: 500px;
    height: auto;
    box-shadow: -10px -10px #F17065;
    border-radius: 5px;
}

.about_text_box {
    width: 700px;
}

.about_text_box h1 {
    font-size: 4rem;
    padding-bottom: 30px;
    color: #F17065;
}

.about_text_box p {
    font-size: 1.3rem;
    font-family: monospace;
}

.stats {
    background-color: #494554;
}

.stats_box {
    display: flex;
}

.stat_1 {
    flex: 1 1 0;
    border-right: 1px solid #AEA9BA;
    padding: 2% 0;
    text-align: center;
    align-content: center;
}

.stat_1 h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #F17065;
}

.stat_1 p {
    font-size: 1.2rem;
    font-weight: 500;
    color: #AEA9BA;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: monospace;
}

.stat_1:nth-child(4) {
    border-right: none;
}

.services {
    padding: 5% 7%;
}

.services .container_services h1 {
    font-size: 4rem;
    padding-bottom: 50px;
    color: #F17065;
    text-align: center;
}

.services .services_box {
    display: flex;
    text-align: center;
    height: auto;
    justify-content: center;
    margin: 0 auto;
}

.services .services_box .service_1 {
    margin: 10px 15px;
    padding: 20px 10px;
    width: 320px;
}

.services .services_box .service_1 h2 {
    font-size: 1.1rem;
    font-weight: 600;
    font-family: 'Verdana';
    letter-spacing: 2px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.services .services_box .service_1 p {
    font-family: monospace;
    line-height: 1.2rem;
}

.services .services_box .service_1 img {
    width: 80px;
    padding-bottom: 25px;
}

.benefits {
    background-color: #F17065;
    padding: 5% 7%;
}

.benefits h1 {
    padding-bottom: 50px;
    font-size: 4rem;
    text-align: center;
    color: white;
}

.benefits .benefits_box {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    margin: 0 auto;
}

.benefits .benefits_box .benefit1 {
    margin: 10px 10px;
    padding: 30px 25px;
    width: 320px;
    background-color: white;
    border-radius: 7px;
}

.benefits .benefits_box .benefit1 img {
    width: 80px;
    height: auto;
    padding-bottom: 20px;
}

.benefits .benefits_box .benefit1 p {
    font-size: 1rem;
    font-family: monospace;
}

.blog {
    padding: 5% 5%;
    padding-bottom: 7%;
    position: relative;
    overflow: hidden;
}

.blog h1 {
    padding-bottom: 50px;
    font-size: 4rem;
    text-align: center;
}

.pre_btn,
.nxt_btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 9;
}

.pre_btn {
    left: 0;
    transform: rotate(180deg);
}

.nxt_btn {
    right: 0;
}

.pre_btn img,
.nxt_btn img {
    opacity: .2;
}

.pre_btn:hover img,
.nxt_btn:hover img {
    opacity: 1;
}

.blog .blog_box {
    display: flex;
    margin: 0 auto;
    overflow-x: auto;
    scroll-behavior: smooth;
    justify-content: flex-start;
    padding: 0 10px;
}
.blog .blog_box::-webkit-scrollbar{
    display: none;
}
.blog_box:nth-child(3){
    grid-column: span 2;
    margin-bottom: 10px;
}
.blog .blog_box .blog_1 {
    margin: 10px 20px;
    padding: 30px 25px;
    width: 450px;
    background-color: #494554;
    border-radius: 7px;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
}

.blog .blog_box .blog_1 img {
    border-radius: 7px;
    width: 200px;
    height: 200px;
    border: .5px solid grey;
}

.blog .blog_box .blog_1 .text {
    padding-left: 20px;
    width: 200px;
}

.blog .blog_box .blog_1 .text h3 {
    color: white;
    font-size: 1.4rem;
    padding-bottom: 25px;
}

.blog .blog_box .blog_1 .text p {
    color: white;
    font-size: 1rem;
    font-family: monospace;
}

footer {
    background-color: #312D45;
    padding-top: 2%;
}

.footer_box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 30px;
}

footer .socials a,
.footer_services a {
    text-decoration: none;
    color: white;
    margin: 5px 9px;
}

footer .socials a {
    font-size: 1.5rem;
    height: auto;
    transition: .1s linear;
}

footer .socials a:hover {
    color: #F17065;
}

.footer_box .footer_services {
    list-style: none;
}

.footer_box .footer_services li {
    padding: 5px 0;
    text-transform: uppercase;
    font-family: monospace;
    transition: .2s linear;
}

.footer_box .footer_services li a:hover {
    color: #F17065;
}

.footer_box .contacts {
    display: flex;
    flex-direction: column;
    color: white;
}

.footer_box .contacts a {
    text-decoration: none;
    color: white;
    margin: 5px 0px;
    font-family: monospace;
}

.footer_box .contacts .adress {
    font-weight: 100;
    font-family: monospace;
    font-size: .9rem;
    padding-top: 5px;
}








footer .underline {
    user-select: none;
    border-top: 1px solid #F17065;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer .underline p {
    color: white;
    font-weight: 100;
    font-family: monospace;
}
